{% extends 'sl_main/header.html' %}
{% block content %}
<!--&lt;!&ndash; Jumbotron &ndash;&gt;-->
<!--<div class="jumbotron jumbotron-fluid text-center bg-light">-->
<!--    <div class="container">-->
<!--        <h3 class="mb-3">{{page_name}}</h3>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Jumbotron &ndash;&gt;-->


<div class="  text-center bg-light">
    <div class="container">
        <h5 class="mb-3">Заголовок</h5>
        <br>
        Наверно тут будет авторизация
    </div>
</div>
{% endblock %}