{% extends 'sl_main/header.html' %}

{% block content %}





    <div class="table-responsive">
        <table class="table">

            <thead>
            <tr>

                <th>№</th>
                <th>ID школы</th>
                <th>Город</th>
                <th>АО</th>
                <th>Адрес</th>
                <th>Статус КД</th>
                <th>Статус объекта</th>
                <th>Статус ТР</th>
                <th>Статус ИД</th>
                <th>Статус КО</th>
                <th>Заявл. кол-во РП</th>
                <th>Фактич. кол-во РП</th>
                <th>Заявл. кол-во УП</th>
                <th>Фактич. кол-во УП</th>

            </tr>
            </thead>
            <tbody>
            {% for el in list_school %}
                <tr>

                    <td>{{ el.id }}</td>
                    <td>{{ el.id }}</td>

                    {% if  el.City == "qweqwe" %}
                        <td {{ color.green |safe}} {{ el.City }}</td>
                    {% elif  el.City  == '123' %}
                        <td {{ color.red |safe}} {{ el.City }}</td>
                    {% else %}
                        <td>{{ el.City }}</td>
                    {% endif %}

                    <td>{{ el.AO }}</td>
                    <td>{{ el.Address }}</td>

                    {% if  el.StatusKD.id == 3 %}
                        <td {{ color.green|safe }} {{ el.StatusKD }}</td>
                    {% elif  el.StatusKD.id  == 1 %}
                        <td {{ color.red |safe}} {{ el.StatusKD }}</td>
                    {% else %}
                        <td>{{ el.StatusKD }}</td>
                    {% endif %}

                    <td>{{ el.Status_name }}</td>
                    <td>{{ el.id }}</td>
                    <td>{{ el.StatusID }}</td>
                    <td>{{ el.id }}</td>
                    <td>{{ el.id }}</td>
                    <td>{{ el.id }}</td>
                    <td>{{ el.id }}</td>
                    <td>{{ el.id }}</td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>



    {#    {% for i in list_statusKD.values %}#}
    {#      <p>{{ i.StatusName }}</p>#}
    {#{% endfor %}#}
{% endblock %}


