{% extends 'sl_main/header.html' %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% block content %}
<div class="  text-center bg-light">
    <div class="container">
        <form method="get">
            {{myFilter.form}}

            <button class="btn btn-primary" type="submit">Поиск</button>
        </form>
    </div>
</div>


<div class="table-responsive">
    <table id="table_id" class="table table-hover table-bordered table-sm">
        <thead class="thead-dark">
        <tr>

            <th class="align-middle text-center">МРФ</th>
            <th class="align-middle text-center">РФ</th>
            <th class="align-middle text-center">Субъект РФ</th>
            <th class="align-middle text-center">Адрес</th>
            <th class="align-middle text-center">Кол-во узлов доступа и связи</th>
            <th class="align-middle text-center">Подрядчик</th>
            <th class="align-middle text-center">Плановая дата завершение СМР</th>
            <th class="align-middle text-center">Допуск получен</th>
            <th class="align-middle text-center">Фактическая дата получения согласований/допуска на СМР</th>
            <th class="align-middle text-center">Объемы поданы</th>
            <th class="align-middle text-center">Фото СМР + схемы для ИД приложены</th>
            <th class="align-middle text-center">СМР выполнены</th>
            <th class="align-middle text-center">Дата приемки РТК</th>
            <th class="align-middle text-center">Акт приемки</th>
            <th class="align-middle text-center">Приемка РТК проведена</th>
            <th class="align-middle text-center">ИД передана</th>
            <th class="align-middle text-center">Срок завершения работ по договору</th>
            <th class="align-middle text-center">Комментарии</th>
        </tr>
        </thead>
        <tbody>
        {% for item in item_project %}
        <tr onclick="window.location.assign('{%url 'object' item.id %}');">
            <td>{{ item.mrf }}</td>
            <td>{{item.rf}}</td>
            <td>{{item.subjectRF}}</td>
            <td>{{item.address}}</td>
            <td>{{item.num_access_link}}</td>
            <td>{{item.contractor.name}}</td>
            <td>{{item.plan_data_ready_smr}}</td>
            <td>{{item.access}}</td>
            <td>{{item.date_access_SMR}}</td>
            <td>{{item.obemy_podany}}</td>
            <td>{{item.foto_montaj_upload}}</td>
            <td>{{item.smr_ready}}</td>
            <td>{{item.data_priemki_rtk}}</td>
            <td>{{item.act_ready }}</td>
            <td>{{item.rtk_ready}}</td>
            <td>{{item.id_ready}}</td>
            <td>{{item.data_ready_from_dogovor}}</td>
            <td>{{item.komentariy}}</td>

        </tr>


        {% endfor %}
        </tbody>
    </table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <!-- needed to use moment.js for our date sorting-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>


    <!-- the second way to do it to integrate our buttons for export-->

    <script>
    $(document).ready( function () {

    $.fn.dataTable.ext.errMode = 'throw';

    $.fn.dataTable.moment('HH:mm MMM D, YY');
    $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
    $.fn.dataTable.moment('DD/MM/YYYY');

    $('#table_id').DataTable({
    "paging":   false,
    "searching":   false,

    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [  'csv', 'excel', ]

        }}
    );
} );

    </script>
</div>
{%endblock %}
<!--    <tr class="table-active"></tr>-->
<!--    <tr class="table-success"></tr>-->
<!--    <tr class="table-warning"></tr>-->
<!--    <tr class="table-danger"></tr>-->